In [2]:
import pandas as pd

In [77]:
df = pd.read_csv("winter_2024_data.csv")

In [78]:
df.columns

Index(['price', 'appraisal_offer', 'make_appraisal', 'model_appraisal',
       'trim_level_appraisal', 'model_year_appraisal', 'mileage_appraisal',
       'engine_appraisal', 'cylinders_appraisal', 'mpg_city_appraisal',
       'mpg_highway_appraisal', 'horsepower_appraisal',
       'fuel_capacity_appraisal', 'vehicle_type_appraisal', 'color_appraisal',
       'make', 'model', 'trim_level', 'model_year', 'mileage', 'engine',
       'cylinders', 'mpg_city', 'mpg_highway', 'horsepower', 'fuel_capacity',
       'vehicle_type', 'color', 'online_appraisal_flag', 'state',
       'days_since_offer'],
      dtype='object')

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132717 entries, 0 to 132716
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   price                    132717 non-null  int64
 1   appraisal_offer          132717 non-null  int64
 2   make_appraisal           132717 non-null  object
 3   model_appraisal          132717 non-null  object
 4   trim_level_appraisal     123034 non-null  object
 5   model_year_appraisal     132717 non-null  int64
 6   mileage_appraisal        132717 non-null  int64
 7   engine_appraisal         132717 non-null  object
 8   cylinders_appraisal      132717 non-null  int64
 9   mpg_city_appraisal       132656 non-null  float64
 10  mpg_highway_appraisal    132717 non-null  int64
 11  horsepower_appraisal     132717 non-null  int64
 12  fuel_capacity_appraisal  132606 non-null  float64
 13  vehicle_type_appraisal   132717 non-null  object
 14  color_appraisal          132717 non-null  object
 15  make                     132717 non-null  object
 16  model                    132717 non-null  object
 17  trim_level               122052 non-null  object
 18  model_year               132717 non-null  int64
 19  mileage                  132717 non-null  int64
 20  engine                   132717 non-null  object
 21  cylinders                132717 non-null  int64
 22  mpg_city                 131845 non-null  float64
 23  mpg_highway              131824 non-null  float64
 24  horsepower               132717 non-null  int64
 25  fuel_capacity            132717 non-null  int64
 26  vehicle_type             132717 non-null  object
 27  color                    132717 non-null  object
 28  online_appraisal_flag    131388 non-null  float64
 29  state                    132717 non-null  object
 30  days_since_offer         132717 non-null  int64
dtypes: float64(5), int64(13), object(13)
memory usage: 31.4+ MB

In [ ]:
#use predictive imputer on mpg_city_appraisal after all columns are cleaned

In [80]:
df

,price,appraisal_offer,make_appraisal,model_appraisal,trim_level_appraisal,model_year_appraisal,mileage_appraisal,engine_appraisal,cylinders_appraisal,mpg_city_appraisal,...,cylinders,mpg_city,mpg_highway,horsepower,fuel_capacity,vehicle_type,color,online_appraisal_flag,state,days_since_offer
0,19500,18800,Kia,Sportage,Not Premium,2014,19300,2.4L,4,21.0,...,3,24.0,34.0,134,16,Small SUV,Gray,0.0,CA,0
1,24000,9000,Ford,Escape,Premium,2012,39300,1.6L,4,22.0,...,6,19.0,27.0,271,15,Small SUV,Black,0.0,IL,0
2,24000,9800,Dodge,Challenger,Not Premium,2013,106100,3.6L,6,19.0,...,4,NaN,NaN,248,12,Luxury,White,0.0,CA,0
3,33000,14600,Toyota,Tacoma,Premium,2014,105800,3.5L,6,19.0,...,6,18.0,24.0,380,16,Medium SUV,Black,1.0,CA,1
4,14200,19500,Jeep,Cherokee,Not Premium,2015,20400,2.4L,4,22.0,...,4,NaN,NaN,188,14,Small SUV,Gold,0.0,FL,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132712,16500,3400,Hyundai,Elantra,Premium,2010,97800,1.8L,4,28.0,...,4,22.0,32.0,228,16,Small SUV,White,0.0,CA,0
132713,20200,10500,Honda,Civic,Not Premium,2012,40300,2.0L,4,31.0,...,4,22.0,31.0,228,16,Small SUV,Black,0.0,CA,0
132714,21700,5300,Mercedes-Benz,ML350,NaN,2004,75800,3.5L,6,15.0,...,4,22.0,31.0,228,16,Small SUV,Black,0.0,CA,0
132715,21700,8300,Kia,Forte,Not Premium,2013,47300,2.0L,4,29.0,...,4,22.0,31.0,228,16,Small SUV,White,0.0,CA,0
132716,20200,5600,Toyota,Corolla,Not Premium,2010,75000,1.8L,4,27.0,...,4,21.0,28.0,240,17,Small SUV,Black,1.0,CA,3

Cleaning Columns

In [81]:
#price is fine, no missing values already int
# appraisal offer is fine, no misisng values already int

In [82]:
#dummy variables for make_appraisal 
df['make_appraisal'].unique()

array(['Kia', 'Ford', 'Dodge', 'Toyota', 'Jeep', 'Chevrolet', 'GMC',
       'Mazda', 'Land Rover', 'Nissan', 'Honda', 'Hyundai',
       'Mercedes-Benz', 'Subaru', 'Volkswagen', 'Chrysler', 'Lexus',
       'Ram', 'Infiniti', 'Fiat', 'Buick', 'Volvo', 'Cadillac', 'Saturn',
       'Mitsubishi', 'Pontiac', 'Scion', 'Mini', 'Mercury', 'Audi',
       'Genesis', 'Lincoln', 'Smart', 'Porsche', 'Jaguar', 'BMW',
       'Suzuki', 'Oldsmobile', 'Alfa Romeo', 'Acura', 'Plymouth', 'Saab'],
      dtype=object)

In [83]:
df = pd.get_dummies(df, columns=['make_appraisal'], prefix='', prefix_sep='make_ap_', dtype= int)

In [84]:
#dummy variables for model_appraisal
df = pd.get_dummies(df, columns=['model_appraisal'], prefix='', prefix_sep='model_ap_', dtype= int)

In [85]:
#creating "not specified" value for nans within trim_level_appraisal, then one hot encoding
df['trim_level_appraisal'] = df['trim_level_appraisal'].fillna('Not Specified')

df = pd.get_dummies(df, columns=['trim_level_appraisal'], prefix='', prefix_sep='TLA_', dtype = int)

In [86]:
#model_year_appraisal as int is fine

In [90]:
# remove L from engine_appraisal
df['engine_appraisal'] = df['engine_appraisal'].str.rstrip('L')
df['engine_appraisal'] = df['engine_appraisal'].astype(float)

In [ ]:
#cylinders_appraisal is fine

In [ ]:
# treating nans in mpg_city_appraisal

In [91]:
df

,price,appraisal_offer,model_year_appraisal,mileage_appraisal,engine_appraisal,cylinders_appraisal,mpg_city_appraisal,mpg_highway_appraisal,horsepower_appraisal,fuel_capacity_appraisal,...,model_ap_Zephyr,model_ap_iA,model_ap_iM,model_ap_iQ,model_ap_tC,model_ap_xA,model_ap_xB,TLA_Not Premium,TLA_Not Specified,TLA_Premium
0,19500,18800,2014,19300,2.4,4,21.0,25,181,16.0,...,0,0,0,0,0,0,0,1,0,0
1,24000,9000,2012,39300,1.6,4,22.0,29,178,15.0,...,0,0,0,0,0,0,0,0,0,1
2,24000,9800,2013,106100,3.6,6,19.0,30,305,18.0,...,0,0,0,0,0,0,0,1,0,0
3,33000,14600,2014,105800,3.5,6,19.0,24,278,21.0,...,0,0,0,0,0,0,0,0,0,1
4,14200,19500,2015,20400,2.4,4,22.0,31,180,15.0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132712,16500,3400,2010,97800,1.8,4,28.0,38,145,12.0,...,0,0,0,0,0,0,0,0,0,1
132713,20200,10500,2012,40300,2.0,4,31.0,41,158,12.0,...,0,0,0,0,0,0,0,1,0,0
132714,21700,5300,2004,75800,3.5,6,15.0,20,268,25.0,...,0,0,0,0,0,0,0,0,1,0
132715,21700,8300,2013,47300,2.0,4,29.0,38,147,13.0,...,0,0,0,0,0,0,0,1,0,0
132716,20200,5600,2010,75000,1.8,4,27.0,36,132,13.0,...,0,0,0,0,0,0,0,1,0,0